{% block footer %}
<!-- footer -->
    <div class="footer">
        <div class="contain">
        <div class="col">
        <h1>Company</h1>
        <ul>
            <li>About</li>
            <li>Services</li>
            <li>Social</li>
            <li>Get in touch</li>
        </ul>
        </div>  
        <div class="col"></div>     
        <div class="col">
        <h1>Resources</h1>
        <ul>
            <li>About</li>
            <li>Services</li>
            <li>Social</li>
            <li>Get in touch</li>
        </ul>
        </div>
        <div class="col"></div>
        <div class="col">
        <h1>Support</h1>
        <ul>
            <li>Contact us</li>
            <li>Web chat</li>
            <li>Open ticket</li>
        </ul>
        </div>
        <div class="col social">
        <h1>Social</h1>
        <ul>
            <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
            <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
            <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
        </ul>
        </div>
    <div class="clearfix"></div>
    </div>
    </div>
<!-- footer end -->
{% endblock footer %}