body {
  font-family: "Roboto", sans-serif !important;
  overflow-x: hidden;
}

.banner-block {
  background-image: url("./../img/banner/banner.jpg");
  background-image: url("./../img/banner/banner.jpg");
  height: 95vh;
  background-position: center;
  background-size: cover;
}

.banner-heading {
  font-weight: 600;
  font-size: 50px;
  line-height: 1.3;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  margin-top: 0;
  margin-left: 10%;
}

.heading-border {
  border-bottom: 5px solid red;
  width: 20%;
  margin-left: 10%;
}

.banner-text {
  color: #fff;
  text-align: left;
  width: 80%;
  margin-left: 10%;
}

.banner-btn {
  border-radius: 5px;
  margin-left: 10%;
  padding: 10px;
  color: #fff;
  background-color: red;
  width: 200px;
  /* border: 1px solid red; */
  border: none;
  transition: all 0.3s ease-out;
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 700;
}

.banner-btn:hover {
  color: red;
  cursor: pointer;
}

.banner-btn::after {
  content: " ";
  position: absolute;
  height: 100%;
  width: 0;
  background: #fff;
  right: 0;
  top: 0;
  border-radius: 5px;
  z-index: -1;
  transition: all 0.3s ease-out;
}

.banner-btn:hover:after {
  width: 100%;
}

.containers {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0px;
  overflow: hidden;
  animation: animateColor 5s linear infinite;
}

@keyframes animateColor {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.containers span {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
}

.containers span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: #00ff0a;
  box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a,
    0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
  border-radius: 50%;
  transition: 2s;
  transform: scale(0);
}

.containers span:hover::before {
  transition: 0s;
  transform: scale(1);
}

.service-1 {
  background: #1b2a2f;
  padding: 30px;
}

.service-2 {
  background: linear-gradient(
    314deg,
    #d89132,
    #f7c789
  ); /*linear-gradient(314deg,#d89132,#f7c853);*/
  padding: 30px;
}

.service-3{
  background: linear-gradient(45deg,#56cad5,#247ad4); /*linear-gradient(314deg,#d89132,#f7c853);*/
  padding: 30px;
}

.service-4{
  background: linear-gradient(45deg,#93d556,#247ad4); /*linear-gradient(314deg,#d89132,#f7c853);*/
  padding: 30px;
}

.service-brand {
  width: 120px;
  height: 80px;
  margin-left: 20%;
}

.service-heading {
  color: #fff;
  font-size: 46px;
  margin-top: 30px;
  margin-left: 10%;
}

.service-line {
  border-bottom: 5px solid #fff;
  width: 10%;
  margin-left: 10%;
}

.service-content {
  color: #fff;
  text-align: left;
  margin-left: 10%;
  font-size: 15px;
  font-weight: 400;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.service-btn {
  padding: 10px;
  background: transparent;
  color: #ffffff;
  border: 2px solid;
  margin-left: 10%;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  margin-top: 15px;
}

.service-btn:hover {
  color: #1b2a2f;
  cursor: pointer;
  border: 2px solid;
  background: #ffffff;
}

.service-btn::hover {
  content: " ";
  position: absolute;
  height: 100%;
  width: 0;
  background: #fff;
  right: 0;
  top: 0;
  border-radius: 5px;
  z-index: -1;
  transition: all 0.3s ease-out;
}

.service-btn:hover:after {
  width: 100%;
}

.brands {
  padding: 30px;
  width: 95%;
}

.brands img {
  margin: 15px;
  margin-left: 7%;
}

.phone-img {
  height: 500px;
  padding: 5px;
  margin-left: 15%;
  width: 50%;
}

@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);

#kudo-wrap {
  width: 100%;
  height: 380px;
  margin: 0 auto;
  /* background-image: url(https://s3.amazonaws.com/tlcmedicalmassage/wp-content/uploads/WaterStandingWave.jpg); */
  background-size: cover;
}
.adj-layer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Pinyon Script", cursive;
  font-size: 80px;
  text-align: center;
  margin-bottom: 40px;
  color: rgba(206, 76, 57, 0.8);
}

.testimonial-quote blockquote {
  /* Negate theme styles */
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  color: gray;
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.4 !important;
  margin: 0 25px 0;
  position: relative;
  text-shadow: 0 1px #fff;
  z-index: 1;
}

.testimonial-quote blockquote * {
  box-sizing: border-box;
}

.testimonial-quote blockquote p {
  color: #75808a;
  line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
  /* quotemarks */
  content: "\201C";
  color: #39bbce;
  font-size: 7.5em;
  font-weight: 700;
  opacity: 0.3;
  position: absolute;
  top: -0.4em;
  left: -0.2em;
  text-shadow: none;
  z-index: -300;
}

.testimonial-quote img {
  border: 3px solid #39bbce;
  border-radius: 50%;
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  top: -0.2em;
  left: 0;
}

.testimonial-quote cite {
  color: gray;
  display: block;
  font-size: 0.8em;
}

.testimonial-quote cite span {
  color: #39bbce;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px white;
}

.testimonial-quote {
  position: relative;
}

.testimonial-quote .quote-container {
  padding-left: 160px;
}

.stats {
  margin-left: 5%;
  margin-top: 15px;
  list-style: none;
}

.stats li {
  background: #ffffff;
  margin-top: 15px;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
}

.stats-img {
  width: 20px;
  margin-right: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.stats-text {
  font-weight: 600;
  margin-left: 14px;
  color: #000000;
}

.service-div {
  margin-top: 30px;
}
.story-section{
  box-shadow: 10px 10px 10px 10px #0000000d;
  width: 80%;
  margin-left: 10%;
  border: 1px solid #0000001c;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 420px;
}
.story-content{
  width: 55%;
  float: left;
  border-right: 1px solid #80808063;
}
.story-img{
  width: 45%;
  float: left;
}
.story-block1{
  border-bottom: 1px solid #8080806e;
  text-align: center;
  height: 210px;
  padding: 20px;
}
.story-block1 h4{
  font-size: 16px;
  font-weight: 700;
}
.story-block1 h2{
  color: #ff00009c;
  line-height: 1.4;
  font-size: 66px;
  font-weight: 900;
}
.story-block1 span{
  font-size: 36px;
}



.story-block2{
  text-align: center;
  height: 210px;
  padding: 20px;
}
.story-block2 h4{
  font-size: 16px;
  font-weight: 700;
}
.story-block2 h2{
  color: #ff00009c;
  line-height: 1.4;
  font-size: 66px;
  font-weight: 900;
}
.story-block2 span{
  font-size: 36px;
}


.story-content h1{
  font-weight: 900;
  font-size: 36px;
  padding: 15px;
  text-align: left;
  color: #403d3d;
  margin-left: 10%;
  margin-top: 10%;
  line-height: 1.4;
}
.story-content p{
  padding-left: 15px;
  font-size: 16px;
  width: 80%;
  color: gray;
  line-height: 1.78;
  margin-left: 10%;
  font-weight: 500;
  text-align: left;
}
.servise-section{
  background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v462-n-130-textureidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9465282a2b0a375f4f5b120d7bbad882);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.servise-box{
  width: 80%;
  margin-left: 15%;
  height: 100vh;
}
.servise-box-2{
  width: 80%;
  margin-left: 15%;
  height: 90vh;
  margin-top: -6%;
}

.servise-block1{
  width: 50%;
  float: left;
  margin-top: 20px;
}
.servise-block2{
  width: 50%;
  float: left;
  margin-top: 20px;
}
.servise-block1 .card{
  width: 70%;
}
.servise-block2 .card{
  width: 70%;
}
.servise-card p{
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  color: #000000c2;
}
.servise-card h4{
  line-height: 1;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.card-img-top{
  height: 220px;
}










.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}



.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  margin-top: 30px;
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 400px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  /* top: 50%; */
  width: auto;
  padding: 16px;
  margin-top: 15%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

.slide-img-box{
  width: 60%;
  float: left;
}

.slide-text-box{
  width: 35%;
  padding: 15px;
  float: left;
}

.slide-text-box h4{
 font-size: 26px;
 font-weight: 700;
 text-align: center;
}
.conact-main{
  width: 70%;
  margin-left: 15%;
}