.our-blog {
  background-color: #f8f9fa;
  padding: 10px 0;
}

.text-center h2 {
  font-weight: 500;
  font-size: 1.6em;
}

.text-center h2 span {
  font-weight: 700;
  font-size: 24px;
}

.text-center p {
  max-width: 500px;
  margin: 0 auto;
  color: #6c757d;
  line-height: 1.5;
  font-size: 1em;
}

.col {
  width: 33.3333333%;
  overflow: hidden;
  padding: 15px;
}

.col .card {
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.col img {
  width: 100%;
  height: auto;
  border: 0;
}

.col .card-body {
  padding: 0 15px 15px 15px;
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-body h5 {
  font-size: 24px;
  margin: 7px 0;
}

.card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

.card p {
  color: #6c757d;
  text-align: justify;
}

.card-body .date-author span {
  color: #e74c3c;
}

.card-body h5 a {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 577px) and (max-width: 768px) {
  .col {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .col {
    width: 100%;
  }
}

/* .blog-button {
    border-radius: 5px;
    margin-left: 10%;
    padding: 10px;
    color: #fff;
    background-color: orange;
    width: 200px;
    border: none;
    transition: all 0.3s ease-out;
    position: relative;
    z-index: 1;
    font-size: 18px;
    font-weight: 700;
} */

.card-title a{
  text-decoration: auto;
}

.blog-button {
  text-decoration: auto;
  border-radius: 5px;
  margin-left: 30%;
  padding: 10px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
  width: 200px;
  border: none;
  transition: all 0.3s ease-out;
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 700;
  border: none;
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  box-shadow: 0 0 20px #eee;
  cursor: pointer;
}

.blog-button:hover {
  color: #fff;
  background-position: right center;
  cursor: pointer;
}
.blog-heading{
  background: #8080803d;
  padding: 5px;
}